
.miscellaneousTitle{
    padding-top: 20px;
    color: #61B1CA;
}

.miscellaneousContent{
    color: white;
}

.contactLink{
    text-decoration: none;
    color: #61B1CA;
    transition: 0.5s;
}

.contactLink:hover{
    color:white;
    transition: 0.5s;
}