.postDetailContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* background-color: #2E3566; */
}

.postDetail{
    width: 100%;
    height: 100%;
    position: relative;
}

.postDetailImage{
    width:100%;
    height: 400px;
    background-position: top-left;
    background-repeat: no-repeat;
    background-size: cover;
}


.collageSeparator{
    width: 100%;
    height: 250px;
    background-image: url("../../assets/collage.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icons {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 1000px;
}
